- var name = "dashboard-utils"
- var dependencyDir = "../dependencies/"
- var cssDependencies = ["wp"]
- var jsDependencies = ["d3.v4", "d3-contour.v1", "lodash.4.17.4", "topojson.v1"]
- var modulesDir = "../dl/"
- var modules = ["math.la", "widget", "widgets.areachart", "widgets.barchart", "widgets.boxplot", "widgets.bubblechart", "widgets.checkbox", "widgets.chordchart", "widgets.contourplot", "widgets.grid", "widgets.heatmap", "widgets.hint", "widgets.histogram","widgets.label", "widgets.legend", "widgets.lineargauge", "widgets.linechart", "widgets.map", "widgets.multibarchart", "widgets.picture", "widgets.piechart", "widgets.progressbar", "widgets.scatterplot", "widgets.semicirculargauge", "widgets.slider", "widgets.status", "widgets.trackpad", "widgets.violinplot"]
- var examples = [{name: "Area chart", path: "widgets.areachart"}, {name: "Bar chart", path: "widgets.barchart"}, {name: "Box plot", path: "widgets.boxplot"}, {name: "Bubble chart", path: "widgets.bubblechart"}, {name: "Checkbox", path: "widgets.checkbox"}, {name: "Chord chart", path: "widgets.chordchart"}, {name: 'Contour plot', path: 'widgets.contourplot'}, {name: "Description", path: "description"}, {name: "Grid", path: "widgets.grid"}, {name: 'Heat map', path: 'widgets.heatmap'}, {name: "Hint", path: "widgets.hint"}, {name: "Histogram", path: "widgets.histogram"}, {name: "Info box", path: "widgets.infobox"}, {name: "Label", path: "widgets.label"}, {name: "Legend", path: "widgets.legend"}, {name: "Linear gauge", path: "widgets.lineargauge"}, {name: "Line chart", path: "widgets.linechart"}, {name: "Map", path: "widgets.map"}, {name: "Multi-bar chart", path: "widgets.multibarchart"}, {name: "Picture", path: "widgets.picture"}, {name: "Pie chart", path: "widgets.piechart"}, {name: "Placeholder", path: "placeholder"}, {name: "Progress bar", path: "widgets.progressbar"}, {name: "Scatter plot", path: "widgets.scatterplot"}, {name: "Semi-circular gauge", path: "widgets.semicirculargauge"}, {name: "Slider", path: "widgets.slider"}, {name: "Status", path: "widgets.status"}, {name: "Trackpad", path: "widgets.trackpad"}, {name: "Violin plot", path: "widgets.violinplot"}];

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:200,300,700')
        each css in cssDependencies
            link(rel='stylesheet', type='text/css', href=dependencyDir + css + '.min.css')
        link(rel='stylesheet', type='text/css', href='../style/examples-page.css')
        each js in jsDependencies
            script(src=dependencyDir + js + '.min.js')
        each module in modules
            script(src=modulesDir + module + '.min.js')
        title catalogue | #{name}

    body
        main
            h1 catalogue
            .examples
                each example in examples
                    if example
                        .example-container
                            .example
                                a(href=example.path + '.html')
                                    .widget-container
                                        - var title = example.name.charAt(0).toUpperCase() + example.name.slice(1,  example.name.length)
                                        .widget-name #{title}
                                            div.widget(id=example.name.replace(' ', '').replace('-', '').toLowerCase())

    script(src='js/examples.js')
