<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../dependencies/wp.min.css">
    <link rel="stylesheet" type="text/css" href="../style/examples.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">

    <!-- javascript -->
    {{#each dependencies}}
        <script src="../dependencies/{{this}}"></script>
    {{/each}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="../dependencies/codedoc.min.js"></script>
    {{#each modules}}
        <script src="../dl/{{this}}.min.js"></script>
    {{/each}}
    <title>{{name}} | dashboard-utils</title>
</head>
<body>
<main>
    <div id="widget"></div>
    <h1>description</h1>
    <div id="desc">{{{description}}}</div>
    <div id="code-doc"></div>
    <div id="doc-link">
        [ <a href="../dl/widgets.{{name}}.min.js">source</a> ]
        [ <a href="../api/widgets.{{name}}.html">documentation</a> ]
    </div>
</main>
{{#each code}}
    <script class="doc">{{{this}}}</script>
{{/each}}
<script>
    codedoc.heading()
            .callback(function() {
                console.log("bla");
                hljs.initHighlighting.called = false;
                hljs.initHighlighting();
            })
            .run();
</script>
</body>
</html>
